@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: scroll;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}


body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
